@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --foreground: #e2e8f0;
  --background: #121212;
  --secondary:#a2a2a2;
  --font-sans: "Outfit", sans-serif;
}

body{
  font: var(--font-sans);
}